.categories{
border: 0.5px rgb(200, 198, 198) solid; 

}

.categories
 h3{
  color: #097733;
  font-weight: 700;
  font-size: 20px;
  padding-top: 20px;
  padding-left: 10px;
 

}


.categories li{
  list-style: none;
  padding:13px 25px ;
  margin: 0 !important;
font-size: 16px;

 
}
.categories li:hover{
  background-color: #097733;
 color: #fff;
}

.categories a{
text-decoration: none;
font-size: 17px;
color: black;
}

/* media query */
  @media (max-width:768px){
    .categories{
      display: none;
    }
  }